*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

header{
   width: 100%; 
   background-color:white;
   height: 70px;
}
/*aqui se modifica el ancho*/
.contenedort{
    width: 80%;
    height: 70px;
    background:white;
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    
    float: left;
    padding: 10px;
    box-sizing:border-box;
    
    
}
.logo p a {
    
    color: black;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold ;
    font-family: Agency FB;
    
}
nav{
    width: 70%;
    height: 70px;
    background: 0;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;

}
nav ul li {
     display: inline;

}
nav ul li a {
     color:rgb(33, 150, 243);
     font-size: 13px;
     text-decoration: none;
     text-transform: uppercase;
     padding-left: 15px;
     font-weight: bold ;
     letter-spacing: 1px;
     font-family: 'Times New Roman', Times, serif;
}
nav ul li a:hover{
    color:rgb(139, 195, 74 );
}
.contenedor{
    display: flex;
    width: 1700px;
    height: 500px;
    justify-content:center;
    flex-wrap: wrap;  
    align-items: center;
   
   border: 1px solid white;
 }
 .contenedor div{
    background-color:rgba(158, 158, 158, 0.062);  
    width: 400px;
    height: 400px;
    
    margin: 5px;
    text-align:center;
    color: white;
    line-height: 50px;  
    font-family: Poor Richard;
    font-size: 30px;
        
  }
  .contenedor div:hover {
    width: 410px;
    height: 410px;
 }






